# Virtual Environment & Local Toolchains
.venv/
venv/
bin/
include/
lib/
share/
share
scratch/
*.pyc
__pycache__/

# Simulation & Verification dumps
*.vcd
*.out
*.hex.tmp
sim_tb
verif/sim_tb
sim_build/
csrc/
*.daidir/
*.flg
*.trc
*.log
*.jou
*.history

# OpenLane / EDA Temporary files
openlane/runs/
!openlane/runs/*/results/final/
*.rpt
*.stat

# OS / Editor
.DS_Store
.vscode/
*.swp
*.swo
*~
